@import url('../../index.css');

.forecast {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.forecast-wrapper:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.min-temp {
  color: rgb(175, 175, 175);
}