.current-forecast {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
  animation: fadeIn 0.5s ease-in forwards;
}

.current-forecast img {
  object-fit: contain;
  aspect-ratio: 4/1;
}

@media (min-width: 800px) {
  .current-forecast {
    padding-top: 0;
    flex-shrink: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
