.current-forecast {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

.current-forecast img {
  object-fit: contain;
  aspect-ratio: 4/1;
}

@media (min-width: 800px) {
  .current-forecast {
    padding-top: 0;
    flex-shrink: 1;
  }
}